@()

@scripts = {
@helper.javascriptRouter("jsRouter")(
    controllers.routes.javascript.Drinks.list,
    controllers.routes.javascript.Drinks.addDrink,
    controllers.routes.javascript.Drinks.getDrinkList
)

<script type="text/javascript">
    app.controller('DrinkController', ['$scope', function($scope) {

        $scope.clearDrink = function () {
            $scope.name = null;
            $scope.description = null;
            $scope.price = null;
            $scope.errors = {};
        };
        $scope.clearDrink();

        $scope.refresh = function() {
            jsRouter.controllers.Drinks.getDrinkList()
                    .ajax({
                        cache: false,
                        method:"GET",
                        success: function(data) {
                            $scope.$apply(function() {
                                $scope.drinkList = data.drinkList;
                            })
                        }
                    })
        };
        $scope.refresh();

        $scope.addDrink = function() {
            $scope.errors = {};
            jsRouter.controllers.Drinks.addDrink()
                    .ajax({
                        cache: false,
                        method: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify({
                            name: $scope.name,
                            description: $scope.description,
                            price: $scope.price
                        }),
                        success: function(data) {
                            $scope.$apply(function() {
                                $scope.clearDrink();
                                $scope.refresh();
                                $('#addDrinkModal').modal('hide');
                            })
                        },
                        error: function(res) {
                            $scope.$apply(function() {
                                $scope.errors = res.responseJSON;
                            })
                        }
                    })
        };


    }])

</script>
}

@main_admin("DrinkList", scripts) {
<div ng-controller="DrinkController" style="margin-top: 20px">

    @helper.productsListTable("Drink", "clearDrink()", "#addDrinkModal", "Description", "{{drink.name}}", "{{drink.description}}", "{{drink.price}}","drink in drinkList")
    @views.html.Drink.drinkModal()

</div>

}