@()

@scripts = {
@helper.javascriptRouter("jsRouter")(
    controllers.routes.javascript.Drinks.list,
    controllers.routes.javascript.Drinks.addDrink,
    controllers.routes.javascript.Drinks.getDrinkList
)

<script type="text/javascript">
    app.controller('DrinkController', ['$scope', function($scope) {

        $scope.clearDrink = function () {
            $scope.name = null;
            $scope.description = null;
            $scope.price = null;
            $scope.errors = {};
        };
        $scope.clearDrink();

        $scope.refresh = function() {
            jsRouter.controllers.Drinks.getDrinkList()
                    .ajax({
                        cache: false,
                        method:"GET",
                        success: function(data) {
                            $scope.$apply(function() {
                                $scope.drinkList = data.drinkList;
                            })
                        }
                    })
        };
        $scope.refresh();

        $scope.addDrink = function() {
            $scope.errors = {};
            jsRouter.controllers.Drinks.addDrink()
                    .ajax({
                        cache: false,
                        method: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify({
                            name: $scope.name,
                            description: $scope.description,
                            price: $scope.price
                        }),
                        success: function(data) {
                            $scope.$apply(function() {
                                $scope.clearDrink();
                                $scope.refresh();
                                $('#addDrinkModal').modal('hide');
                            })
                        },
                        error: function(res) {
                            $scope.$apply(function() {
                                $scope.errors = res.responseJSON;
                            })
                        }
                    })
        };


    }])

</script>
}

@main("DrinkList", scripts) {
<div ng-controller="DrinkController" style="margin-top: 20px">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center"><b>Drink list</b></div>
        <div class="panel-body">
            <button type="button" style="margin-bottom: 20px" class="btn btn-success pull-right" ng-click="clearDrink()" data-toggle="modal" data-target="#addDrinkModal"><span class="glyphicon glyphicon-plus"></span> Add drink</button>
            <!-- Table -->
            <table class="table">
                <thead>
                <th class="col1">Name</th>
                <th class="col2">Description</th>
                <th class="col3">Price</th>
                </thead>
                <tbody>
                <tr ng-repeat="drink in drinkList">
                    <td>{{drink.name}}</td>
                    <td>{{drink.description}}</td>
                    <td>{{drink.price}} Ft</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    @views.html.Drink.drinkModal()

</div>

}