@()

@scripts = {
@helper.javascriptRouter("jsRouter")(
controllers.routes.javascript.Application.login,
controllers.routes.javascript.Application.authenticate
)
<script type="text/javascript">
        app.controller('LoginController', ['$scope', function($scope) {

            $scope.errors = {};
            $scope.email = null;
            $scope.password = null;

            $scope.authenticate = function() {
                $scope.errors = {};
                jsRouter.controllers.Application.authenticate().ajax({
                    method: 'post',
                    cache: false,
                    contentType: "application/json",
                    data: JSON.stringify( {
                        email : $scope.email,
                        password : $scope.password
                    }),
                    success: function() {
                        $scope.$apply(function() {
                            window.location = "/";
                        })
                    },
                    error: function(response) {
                        $scope.$apply(function(){
                            $scope.errors = response.responseJSON;
                        });
                    }
                });
            }
        }])

    </script>
}

@main("Login", scripts) {
<div style="padding: auto">
    <img class="col-sm-offset-4 col-sm-4" src="@routes.Assets.at("images/pizza.jpg")" alt=""/>
</div>
<div ng-controller="LoginController" class="col-sm-offset-2 col-sm-8">

    <form id="loginForm" class="form" role="form" ng-submit="authenticate()">
        <div class="form-group {{ errors.email ? 'has-error' : '' }}">
            <label for="inputEmail" class="control-label">Email</label>
            <div class="form-group">
                <input type="email" ng-model="email" class="form-control" id="inputEmail" placeholder="Email">
                <span class="form-control-feedback" ng-repeat="error in errors.email">{{error}}</span>
            </div>
        </div>

        <div class="form-group  {{ errors.password ? 'has-error' : '' }}">
            <label for="inputPassword" class=" control-label">Password</label>
            <div class="form-group">
                <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Password">
                <span class="form-control-feedback" ng-repeat="error in errors.password">{{error}}</span>
            </div>
        </div>
        <div class="form-group  {{ errors.auth? 'has-error' : '' }}">
            <span class="form-control-feedback" ng-repeat="error in errors.auth">{{error}}<br /></span>
        </div>
        <div class="form-group">
            <button type="btn btn-success" class="btn btn-default">Sign in</button>
        </div>
    </form>
</div>
}